/* Copyright 2025 The Chromium Authors
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file. */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 12px;
  overflow: hidden;
}

.panel {
  background-color: var(--cr-fallback-color-surface);
}

.dialog {
  height: 100%;
  width: 100%;
  font-weight: 400;
  line-height: 20px;
  color: var(--cr-fallback-color-on-surface);
  display: flex;
  flex-direction: column;
  --header-height: 24px;
}

.header {
  padding: 12px 20px 12px 12px;
  height: var(--header-height);
  display: flex;
  justify-content: right;
}

.close-button {
  --cr-icon-button-size: var(--header-height);
  --cr-icon-button-icon-size: 14px;
  color: var(--cr-fallback-color-on-surface);
}

.container {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notice {
  width: 358px;
  margin-top: calc(var(--header-height) * -1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  --iron-icon-fill-color: var(--cr-fallback-color-error);
  margin-inline-start: 4px;
}

p {
  margin: 0 0 8px;
  text-align: center;
}

.headline {
  font-size: 16px;
  font-weight: 500;
  margin: 8px 0 4px;
}

#guestPanel {
  width: 100%;
  height: 100%;
  border: 0;
}

#webviewContainer {
  width: 100%;
  height: 100%;
}

.tonal-button {
  margin-top: 8px;
  background-color: var(--cr-fallback-color-tonal-container);
  color: var(--cr-fallback-color-on-tonal-container);
}

.spinner {
  --cr-spinner-size: 28px;
  background-color: var(--cr-fallback-color-tonal-container);
  mask-image: url(chrome://resources/images/throbber_small.svg);
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: var(--cr-spinner-size) var(--cr-spinner-size);
  height: var(--cr-spinner-size);
  width: var(--cr-spinner-size);
}

.panel[hidden] {
  display: none;
}