
/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */
 /* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=//resources/cr_elements/cr_shared_vars.css.js
 * #import=//resources/cr_elements/cr_spinner_style_lit.css.js
 * #scheme=relative
 * #include=cr-spinner-style-lit
 * #css_wrapper_metadata_end */

:host {
  color: var(--cr-primary-text-color);
  padding: 8px 12px;
}

:host h1 {
}

:host h3 {
  color: var(--cr-secondary-text-color);
}

.label {
  font-size: 1.2em;
}

.config-row {
  padding: 4px 0;
}

.action-panel {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.config-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  margin-bottom: 20px;
}

.loading-spinner {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.spinner {
  --cr-spinner-size: 20px;
}

<if expr="is_win">
/** Windows system tracing -------------------------------------------------- */

#system-tracing {
  align-items: center;
  font-size: 1.2em;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
}

#system-tracing-description {
  padding-inline-end: 12px;
}

#system-tracing-description em {
  display: block;
}

#system-tracing-toggle {
  flex: none;
}

#system-tracing-shield {
  padding-inline-start: 12px;
}

#system-tracing-toggle:not(:defined) {
  width: 34px;
}
</if>
