/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #import=chrome://resources/cr_elements/md_select_lit.css.js
 * #import=./shared_vars.css.js
 * #import=./side_panel_shared.css.js
 * #include=md-select-lit side-panel-shared
 * #css_wrapper_metadata_end */

:host {
  --cr-icon-button-margin-end: 6px;
  --cr-icon-button-margin-start: 6px;
  --cr-radio-group-item-padding: 6px;
}

.md-select {
  --cr-focus-outline-color: var(--viewer-icon-focus-outline-color);
  --md-select-option-bg-color: var(--google-grey-800);
  --md-select-text-color: var(--google-grey-100);
  --md-select-width: 240px;
  background-image: url(chrome://resources/images/dark/arrow_down.svg);
  background-color: var(--google-grey-800);
  border: none;
  margin-top: 12px;
}

.md-select:first-child {
  margin-top: 16px;
}

.md-select:hover {
  /* TODO: Do we want a different background on hover? */
  background-color: var(--google-grey-800);
}

cr-icon-button.active {
  --cr-icon-button-fill-color: var(--viewer-icon-ink-selected-fill-color);
  background-color: var(--viewer-icon-ink-selected-background-color);
  border-radius: 50%;
}

cr-radio-group, .style-buttons {
  padding-top: 16px;
}

.side-panel-content:nth-child(2) {
  /* 4px + 24px bottom padding from first item to make 28px total spacing */
  padding-top: 4px;
}
